/* 
    Created on : 10/25/2015
    Last modified on: 11/01/2015
    Author     : Aline da Cruz Rodrigues Souza
*/
body{
    padding: 10px;
    margin: 10px;
}
header{
    background-color: #B3B3B3;
    background-image: url("../images/flywheel.jpg");
    padding: 10px;
    background-size: cover;
}
nav a{
    display: inline-block;
    width: 15%;
    height: 20px;
    margin: 40px;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    background: #C8C8C8;
    color: #000000;
    opacity: 0.6;
    text-align: center;
}
.active{
    background-color: #FFFFFF;
    color: #330099;
    opacity: 1.0;
}
h1{
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 40px;
}
h2{
    color: #000000;
    text-transform: uppercase;
}
section{
    margin: 10px;
}
img{
    display:block;    
    border: solid 1px #000000;
    margin: 30px auto;
    width: 160px;
}
.left{
    display:inline-block;
    width: 200px;
    height: 600px;
    background-color: #666600;
    float: left;
}
.right{
    display:inline-block;
    width: 60%;
    float: left;
}

table{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    line-height: 90%; 
    width: 70%;
    margin: 0 auto;
}


